.card-shadow:hover{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  
}
.card-shadow{
    box-shadow: rgba(60, 59, 59, 0.15) 1px 1px 1px;    
}
@media(max-width:300px){
    .phone-width{
        width: 100%!important;
    
    }
<<<<<<< HEAD
}
=======
}

>>>>>>> 7c06295e08a243061364ec2469b331d378cf398f
