.card-shadow{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    background-color: white;
}
.product-card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.btn-add{
    background-color: rgb(235, 147, 96);

}
.btn-add:hover{
    opacity: 0.9;
    border:1px solid rgb(231, 161, 101);
    cursor: pointer;
}

