

.container {
  border:1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-bg {

  background-color: #fef7e5;
  position: sticky;
  top: 0; /* Adjust this value based on your design */
  z-index: 100; /* Ensure the navbar stays above other content */ 
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}

a{
    text-decoration: none;
    color:rgb(234, 104, 29);
}


ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
}