/* NavBar styling */

.navbar {
  background-color: #f9f9f9;
  color: white;

  width: 100%;
}

.logo img {
  max-width: 100px; /* Adjust the logo size as needed */
  height: auto;
}

.search-bar {
  flex: 1;
  display: flex;
  align-items: center;
}
.search-bar input {
  box-sizing: border-box;
  border: 1px solid rgb(202, 202, 202);
}
.search-bar input:focus {
  border: none;
  outline: none;
}

.search-bar button {
  outline: none;
  padding: 10px 20px;

  cursor: pointer;
  font-size: 16px;
}

.cart {
  font-size: 24px;
  cursor: pointer;
}

.faSearch {
  color: black;
}




a{
  text-decoration: none;
}


ul li{
  list-style-type: none;
}
ul li a{
  text-decoration: none;
}


.button-59 {
  align-items: center;
  border: 2px solid #000;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  justify-content: center;


  outline: 0;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}




.sidebar {
  position: absolute;
  top: 0;
  left: -300px; /* Initial position, outside the viewport */
  width: 300px; /* Sidebar width */
  height: 100vh; /* Full height of the viewport */
  transition: left 0.3s ease; /* Transition duration and timing function */
}

.sidebar.open {
  
  left: 0; /* Show the sidebar by moving it to the left */
}
