.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.person{
  height:200px;
  width: 500px;
  background-color:lightcoral;
  color:white;
  margin-bottom: 20px;
  margin-top: 20px;
}